body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    width: 50%; 
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    text-align: center;
    margin: 1rem auto;
    width: 100%; 
}

.input-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 1rem; 
}

.input-box {
    flex: 1; 
    padding: 0 25px; 
}

.input-box input,
.contact form textarea {
    width: 100%; 
    padding: 1rem;
    font-size: 1.2rem;
    background: whitesmoke;
    border-radius: .8rem;
    margin-bottom: 0.5rem;
}

.contact form textarea {
    resize: none;
    margin-top: 0; 
}

.contact form .btn {
    cursor: pointer;
}

.links h2 {
    margin-top: 20px;
}

.links a {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
}
