<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salads App</title>
</head>
<body>
    <h1>Edit Salads Page</h1>
    <form action="/salads/<%= id %>/?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= salad.name %>">
        <label for="color">Color</label>
        <input type="text" name="color" id="color" value="<%= salad.color %>">
        <label for="readyToEat">Is Ready to Eat</label>
        <input type="checkbox" name="readyToEat" id="readyToEat"
        <% if (salad.readyToEat) { %>
            checked
        <% } %>
        />
        <input type="submit" value="Edit salad">
    </form>
</body>
</html>