<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/salads.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Salads</title>
</head>

<body>
    <nav>
        <a href="/salads/new">Create a New salad</a>
    </nav>
    <section class="timeline">
        <div class="timeline-row">
            <div class="timeline-column">
                <h2 class="title"><span id="salads-1"></span></h2>
                <div class="timeline-box">
                    <% for( let index=0; index < allSalads.length; index++ ) { %>

                        <% let salad=allSalads[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3>
                                        <%= salad.name %>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                                        dolore veniam debitis omnis.
                                    </p>
                                    <a href="/salads/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                                <span class="animate" style="--i:2;"></span>
                </div>
            </div>

            <div class="timeline-column">
                <h2 class="title"><span id="salads-2"></span></h2>
                <div class="timeline-box">
                    <% for( let index=0; index < allSalads.length; index++ ) { %>

                        <% let salad=allSalads[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3>
                                        <%= salad.name %>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                                        dolore veniam debitis omnis.
                                    </p>
                                    <a href="/salads/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                                <span class="animate" style="--i:2;"></span>
                </div>
            </div>

        </div>
    </section>
    <h2>Go to meats</h2>
    <a href="/meats">View meats...</a>
    <h2>Go to veggies</h2>
    <a href="/veggies">View veggies...</a>

    <!--typed js-->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        const typed = new Typed('#salads-1', {
            strings: ['All Salads', 'Cucumber', 'Tomato', 'String Bean', 'Broccoli', 'Lettuce', 'Potato'],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
        });
    </script>

    <script>
        const typed2 = new Typed('#salads-2', {
            strings: ['All Salads', 'Arugula', 'Cabbage', 'Zucchini', 'Carrot', 'Brussels Sprouts', 'Beet'],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
        });
    </script>

</body>

</html>