<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/desserts.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Desserts</title>
</head>

<body>
    <nav>
        <a href="/dessert/new">Create a New Dessert</a>
    </nav>
    <section class="timeline">
        <div class="timeline-row">
            <div class="timeline-column">
                <h2 class="title"><span id="desserts-1"></span></h2>
                <div class="timeline-box">
                    <% for( let index=0; index < allDesserts.length; index++ ) { %>

                        <% let dessert=allDesserts[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3>
                                        <%= dessert.name %>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                                        dolore veniam debitis omnis.
                                    </p>
                                    <a href="/desserts/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                                <span class="animate" style="--i:2;"></span>
                </div>
            </div>

            <div class="timeline-column">
                <h2 class="title"><span id="fruits-2"></span></h2>
                <div class="timeline-box">
                    <% for( let index=0; index < allDesserts.length; index++ ) { %>

                        <% let dessert=allDesserts[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3>
                                        <%= dessert.name %>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                                        dolore veniam debitis omnis.
                                    </p>
                                    <a href="/desserts/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                                <span class="animate" style="--i:2;"></span>
                </div>
            </div>

        </div>
    </section>
    <h2>Go to meats</h2>
    <a href="/meats">View meats...</a>
    <h2>Go to veggies</h2>
    <a href="/veggies">View veggies...</a>

    <!--typed js-->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        const typed = new Typed('#dessert-1', {
            strings: ['All Desserts', 'Chocolate Ice Cream', 'Apple Pie', 'Mango sorbet', 'Pineapple jam', 'Blueberries Smoothie', 'Banana Bread'],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
        });
    </script>

    <script>
        const typed2 = new Typed('#desserts-2', {
            strings: ['All Desserts', 'Strawberry Ice Cream', 'Pumpkin Pie', 'Lemon pie', 'Strawberry jam', 'Banana Apple Smoothie', 'Kiwi Bread'],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
        });
    </script>

</body>

</html>