<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/show.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Fruits</title>
  </head>
  <body>
    <section class="info">
        <div class="info-row">
            <h1><%= fruit.name %></h1>
        </div>
        <div class="info-row">
            <p>Color: <%= fruit.color %></p>
        </div>
        <div class="info-row">
            <% if (fruit.readyToEat) { %>
            <p>Ready to Eat</p>
            <% } else { %>
            <p>Not Ready to Eat</p>
            <% } %>
        </div>
        <div class="info-row">
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere beatae
            quo, perspiciatis provident omnis quasi explicabo consequuntur debitis
            modi dolores tenetur laboriosam enim ipsam! Optio quam velit aut illum vel
            similique animi cupiditate. Facilis consequuntur, ex quam delectus
            similique ut earum magnam eveniet amet ducimus, facere necessitatibus
            assumenda odit, cupiditate nobis ab laudantium ad at porro quod animi
            inventore fugit. Consectetur maiores eaque, iste nemo officiis reiciendis
            eum facilis temporibus vel? Pariatur maxime qui natus architecto cumque
            labore sapiente aspernatur quidem. Accusamus et rem dicta numquam expedita
            velit reiciendis perferendis excepturi distinctio iusto! Reiciendis ea
            nam, debitis minus quo ipsum?
            </p>
        </div>
        <div class="info-row">
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo delectus
            provident atque, quam tempore maxime recusandae commodi ex pariatur iusto.
            </p>
        </div>

        <a href="/fruits">Go Back...</a>
        <button><a href="/fruits/<%= id %>/edit">Edit</a></button>
        <button><a href="/fruits/<%= id %>/delete">Delete</a></button>
    </section>
  </body>
</html>